<div class="flex flex-row gap-5">
  <div class="flex flex-row">
    @if(displayCount < searchConfig.length) {
    <div class="flex gap-2 flex-wrap lg:flex-nowrap">
      @for(filter of searchConfig | slice : 0 : 3; track filter.fieldName) {
      <mel-datahub-filter-dropdown
        [fieldName]="filter.fieldName"
        [title]="filter.title | translate"
      ></mel-datahub-filter-dropdown>
      }
    </div>
    } @else {
    <div class="flex flex-wrap gap-2 w-[640px]">
      @for(filter of searchConfig; track filter.fieldName) {
      <mel-datahub-filter-dropdown
        [fieldName]="filter.fieldName"
        [title]="filter.title | translate"
      ></mel-datahub-filter-dropdown>
      }
    </div>
    }
  </div>
  <div class="flex flex-row items-start gap-4 -ml-[2px] mt-2">
    @if(displayCount !== searchConfig.length) {
    <button
      data-cy="filterExpandBtn"
      type="button"
      class="flex flex-row mel-simple-button"
      (click)="showAll()"
      translate
    >
      mel.datahub.search.filters.more
      <mat-icon
        class="material-symbols-outlined ml-1 align-middle leading-none mt-0.5"
        >keyboard_arrow_down</mat-icon
      >
    </button>
    } @else {
    <button
      data-cy="filterCloseBtn"
      type="button"
      class="flex flex-row mel-simple-button"
      (click)="showAll()"
      translate
    >
      mel.datahub.search.filters.reduce
      <mat-icon
        class="material-symbols-outlined ml-1 align-middle leading-none mt-0.5"
        >keyboard_arrow_up</mat-icon
      >
    </button>
    }
    <button
      data-cy="filterResetBtn"
      class="mel-simple-button"
      (click)="resetFilters()"
      translate
    >
      mel.datahub.search.filters.reset
    </button>
  </div>
</div>
