<div class="bg-beige">
  <div class="p-4 py-6 md:py-20 lg:p-36 container mx-auto">
    <div class="mb-5">
      <mel-datahub-application-banner
        [message]="translatedBannerMessage$ | async"
        class="mel-container-banner"
        [type]="bannerType"
      ></mel-datahub-application-banner>
    </div>
    <h1 class="flex justify-center mel-page-title" translate="">
      mel.datahub.home.title
    </h1>
    <div class="flex justify-center pt-8 pb-24 relative">
      <mel-datahub-fuzzy-search
        class="mel-fuzzy-search"
        (inputSubmitted)="onFuzzySearchSubmit($event)"
        (itemSelected)="onFuzzySearchSelection($event)"
        [autoFocus]="true"
      ></mel-datahub-fuzzy-search>
    </div>
    <div class="max-w-[1182px] mx-auto">
      <div class="sm:ml-16">
        <div class="mel-title-line"></div>
        <div class="mel-section-title" translate="">
          mel.homepage.public.datasets
        </div>
      </div>
      <mel-datahub-results-list-carousel
        [numberOfResults]="6"
        [favoritesOnly]="false"
      ></mel-datahub-results-list-carousel>
    </div>
    <div class="flex justify-end mt-4">
      <a [href]="HREF_ROUTE_SEARCH">
        <mel-datahub-button
          [label]="'mel.homepage.visit.catalog' | translate"
          [icon]="'arrow'"
        ></mel-datahub-button>
      </a>
    </div>
  </div>
</div>
