<div class="bg-beige">
  <div class="pt-[68px] mel-container-lg mx-auto">
    <div class="px-5">
      <h1 class="flex mel-page-title md:mb-12" translate="">
        mel.datahub.search.title
      </h1>

      <div class="mel-title-line"></div>
      <div class="mel-section-title">
        {{
          (hasFavorites$ | async)
            ? ('mel.searchpage.subtitle.favorites' | translate)
            : ('mel.homepage.public.datasets' | translate)
        }}
      </div>
    </div>
    <div class="h-64" gnUiSearchStateContainer="headerSearch">
      <mel-datahub-results-list-carousel
        [records]="records$ | async"
        [numberOfResults]="10"
        [favoritesOnly]="hasFavorites$ | async"
      ></mel-datahub-results-list-carousel>
    </div>
  </div>
</div>
