<div class="flex justify-between gap-4 mb-16 flex-wrap lg:flex-nowrap">
  <div>
    <h2 class="text-2xl font-title font-bold mb-3" translate="">
      mel.datahub.search.form.title
    </h2>
    <p class="text-[17px] mb-10" translate="">
      mel.datahub.search.form.description
    </p>
    <div class="flex gap-2">
      <mel-datahub-button
        [label]="'mel.datahub.search.filter.theme' | translate"
        [icon]="'arrow-down'"
      ></mel-datahub-button>
      <mel-datahub-button
        [label]="'mel.datahub.search.filter.organisation' | translate"
        [icon]="'arrow-down'"
      ></mel-datahub-button>
      <mel-datahub-button
        [label]="'mel.datahub.search.filter.date' | translate"
        [icon]="'arrow-down'"
      ></mel-datahub-button>
      <mel-datahub-button
        [label]="'mel.datahub.search.filter.status' | translate"
        [icon]="'arrow-down'"
      ></mel-datahub-button>
    </div>
  </div>
  <div class="flex flex-col justify-end relative">
    <gn-ui-fuzzy-search
      class="w-[645px] text-[17px] pointer-events-auto"
      (itemSelected)="onFuzzySearchSelection($event)"
      [autoFocus]="true"
    ></gn-ui-fuzzy-search>
  </div>
</div>
