<div class="flex justify-between gap-4 mb-16 flex-wrap lg:flex-nowrap">
  <div>
    <h2 class="text-2xl font-title font-bold mb-3" translate="">
      mel.datahub.search.form.title
    </h2>
    <p class="text-[17px] mb-10" translate="">
      mel.datahub.search.form.description
    </p>
    <mel-datahub-search-filters></mel-datahub-search-filters>
  </div>
  <div class="flex flex-col justify-end relative">
    <gn-ui-fuzzy-search
      class="w-[645px] text-[17px] pointer-events-auto"
      (itemSelected)="onFuzzySearchSelection($event)"
      [autoFocus]="true"
    ></gn-ui-fuzzy-search>
  </div>
</div>
