<div class="flex flex-col justify-between gap-10 mb-14">
  <div class="w-full md:w-7/12 lg:w-6/12 xl:w-5/12">
    <div class="mel-title-line"></div>
    <h2 class="mel-section-title mb-3" translate="">
      mel.datahub.search.form.title
    </h2>
    <p class="text-[17px]" translate="">mel.datahub.search.form.description</p>
  </div>
  <div
    class="flex flex-col gap-4 lg:flex-row lg:flex-wrap lg:justify-between lg:gap-2"
  >
    <mel-datahub-search-filters></mel-datahub-search-filters>
    <gn-ui-sort-by
      class="text-sm"
      [style.--gn-ui-button-rounded]="'0px'"
      [style.--gn-ui-button-height]="'40px'"
    ></gn-ui-sort-by>
    <mel-datahub-fuzzy-search
      class="w-full text-[14px] pointer-events-auto lg:min-w-[253px] lg:w-auto"
      (itemSelected)="onFuzzySearchSelection($event)"
      [autoFocus]="false"
    ></mel-datahub-fuzzy-search>
  </div>
</div>
