<div class="flex justify-between gap-4 sm:gap-16">
  <button
    type="button"
    [attr.aria-label]="'carousel-arrow-left'"
    title="carousel-arrow-left"
    [class]="selectedStep === 0 ? 'invisible' : 'block hover:drop-shadow-lg'"
    (click)="scrollToStep(selectedStep - 1)"
  >
    <img src="assets/icons/carousel-arrow-left.svg" alt="arrow-left" />
  </button>

  <div #carouselOverflowContainer class="overflow-hidden marker w-full">
    <div class="carousel-container flex flex-row" [ngClass]="containerClass">
      <ng-content></ng-content>
    </div>
  </div>

  <button
    type="button"
    [attr.aria-label]="'carousel-arrow-right'"
    title="carousel-arrow-right"
    [class]="
      selectedStep === steps.length - 1
        ? 'invisible'
        : 'block hover:drop-shadow-lg'
    "
    (click)="scrollToStep(selectedStep + 1)"
  >
    <img src="assets/icons/carousel-arrow-right.svg" alt="arrow-right" />
  </button>
</div>

@if(steps.length > 1){
<div class="flex justify-center gap-3" [ngClass]="stepsContainerClass">
  @for(step of steps; track $index){
  <button
    class="mel-carousel-step-dot"
    (click)="scrollToStep($index)"
    [ngClass]="selectedStep === $index ? 'bg-primary' : 'bg-transparent'"
  ></button>
  }
</div>
}
