<div class="bg-beige">
  <div class="pt-[139px]">
    <h1 class="flex justify-center mel-page-title" translate="">
      mel.datahub.home.title
    </h1>
    <div class="flex justify-center p-8 relative">
      <gn-ui-fuzzy-search
        class="w-[645px] text-[17px] pointer-events-auto"
        (itemSelected)="onFuzzySearchSelection($event)"
        [autoFocus]="true"
      ></gn-ui-fuzzy-search>
    </div>
    <div class="h-32" gnUiSearchStateContainer="header">
      <mel-datahub-last-created></mel-datahub-last-created>
    </div>
  </div>
</div>
