<div class="bg-beige">
  <div class="pt-[139px] container mx-auto">
    <h1 class="flex justify-center mel-page-title" translate="">
      mel.datahub.home.title
    </h1>
    <div class="flex justify-center p-8 relative">
      <gn-ui-fuzzy-search
        class="w-[645px] text-[17px] pointer-events-auto"
        (itemSelected)="onFuzzySearchSelection($event)"
        [autoFocus]="true"
      ></gn-ui-fuzzy-search>
    </div>
    <div class="h-64 lg:w-[77%] mx-auto" gnUiSearchStateContainer="headerHome">
      <mel-datahub-results-list-carousel
        [numberOfResults]="6"
        [favoritesOnly]="false"
      ></mel-datahub-results-list-carousel>
    </div>
  </div>
</div>
